*
!.gitignore

!build_web.sh
!comm.odin
!nuppu.odin
!render.odin

!bit_array/
!bit_array/bit_array.odin

!gpu/
!gpu/**

!examples/
!examples/**

!platform/
!platform/**

!web/
!web/index.html

*.obj
*.mtl
*.dSYM
*.dSYM/**