*
!.gitignore

!build_web.sh
!comm.odin
!nuppu.odin
!render.odin
!config.odin

!bit_array/
!bit_array/bit_array.odin

!material.odin
!shader.odin
!mesh.odin

!gpu/
!gpu/**

!entity.odin
!entity_common.odin
!bits.odin

!examples/
!examples/**

!platform/
!platform/**

!tests/
!tests/**

!web/
!web/index.html

*.obj
*.mtl
*.dSYM
*.dSYM/**
