*

!.gitignore

!examples/
!examples/**

!app.odin

!platform.odin
!platform_choser.odin
!platform_glfw.odin

!default_renderer.odin
!built_in.odin

!gpu.odin
!gpu_chooser.odin
!gpu_MTL.odin
!loader.odin

!web/
!web/index.html
!build_web.sh

*.obj
*.mtl
*.dSYM
*.dSYM/**